<div class="row">
    <!-- Phần thông tin -->
    <div class="col-md-4">
        <h5>ShoeStore</h5>
        <p>&copy; 2024 ShoeStore. Tất cả các quyền được bảo lưu.</p>
        <p>Địa chỉ: 123 Đường ABC, Quận XYZ, Thành phố Hồ Chí Minh</p>
    </div>

    <!-- Liên kết mạng xã hội -->
    <div class="col-md-4 text-center">
        <h5>Kết nối với chúng tôi</h5>
        <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i> Facebook</a><br>
        <a href="#" class="text-dark me-3"><i class="bi bi-instagram"></i> Instagram</a><br>
        <a href="#" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
    </div>

    <!-- Liên kết -->
    <div class="col-md-4">
        <h5>Liên kết</h5>
        <ul class="list-unstyled">
            <li><a href="#" class="text-dark text-decoration-none">Trang chủ</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Giới thiệu</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Liên hệ</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Chính sách bảo mật</a></li>
        </ul>
    </div>
</div>